<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy"
        content="default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; connect-src 'self' local-model: http://localhost:8080; img-src 'self' local-model:;">
    <title>통계</title>
    <link rel="stylesheet" href="./statistics.css">
</head>

<body>
    <div id="root"></div>
    <script src="/live2dcubismcore.min.js"></script>
    <script type="module" src="./index.tsx"></script>
</body>

</html>