name: Auto Add PR to Project

on:
  pull_request:
    types: [opened]

jobs:
  add-to-project:
    runs-on: ubuntu-latest
    steps:
      - name: Add PR to Project
        id: add_pr 
        uses: actions/add-to-project@v1.0.1
        with:
          # Project URL
          project-url: https://github.com/orgs/jiwon-tech-innovation/projects/1
          # 받은 Token
          github-token: ${{ secrets.PROJECT_TOKEN }}

      - name: Set Status to PR
        run: |
          # 1. 프로젝트의 고유 Global ID 가져오기
          PROJECT_ID=$(gh project view 1 --owner "jiwon-tech-innovation" --format json --jq '.id')
          
          # 2. 'Status' 필드의 ID 가져오기
          FIELD_ID=$(gh project field-list 1 --owner "jiwon-tech-innovation" --format json --jq '.fields[] | select(.name=="Status") | .id')
          
          # 3. 'PR' 옵션의 고유 ID 가져오기 
          OPTION_ID=$(gh project field-list 1 --owner "jiwon-tech-innovation" --format json --jq ".fields[] | select(.name==\"Status\") | .options[] | select(.name==\"PR\") | .id")
          
          # 4. 아이템의 상태를 'PR'로 업데이트
          gh project item-edit --id ${{ steps.add_pr.outputs.itemId }} \
            --project-id "$PROJECT_ID" \
            --field-id "$FIELD_ID" \
            --single-select-option-id "$OPTION_ID"
        env:
          GH_TOKEN: ${{ secrets.PROJECT_TOKEN }}
